body{
    background: rgb(206, 206, 209);
}

h1{
    color: red;
}
a{
    color:rgb(163, 163, 163) ;
    font-size: 70px;
    text-align: center;
    background-color:black;
    display: inline-block;
    

    

}

h2{
 color: grey;
 background: skyblue;
 font-size: 70px;
 

}

input{
    display: block;
}

p{
    color: white;
    background-color: black;
    width: 500px;
    font-size: 20px;

    padding: 20px;

    margin: 200px;
    border: 8px skyblue solid;

    border-radius: 50px;

}


